@font-face {
  src: url('../fonts/Typesketchbook\ -\ Labrador-A-Regular.otf');
  font-family: labrador-a-regular;
  font-weight: 400;
}
@font-face {
  src: url('../fonts/Typesketchbook\ -\ Labrador-A-Regular-Oblique.otf');
  font-family: labrador-a-regular-oblique;
  font-weight: 400;
}
@font-face {
  src: url('../fonts/Typesketchbook\ -\ Labrador-B-Regular.otf');
  font-family: labrador-b-regular;
  font-weight: 400;
}
@font-face {
  src: url('../fonts/Typesketchbook\ -\ Labrador-B-Bold.otf');
  font-family: labrador-b-bold;
  font-weight: 700;
}