// Body
$body-bg  : #1B1D1D;

// Typography
$a-regular          : labrador-a-regular;
$a-regular-oblique  : labrador-a-regular-oblique;
$b-regular          : labrador-b-regular;
$b-bold             : labrador-b-bold;

// Colors
$grey     : rgba(255,255,255,0.24);
$orange   : #EF5214;
$black    : #141414;